<footer class="bg-gray-800 py-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between text-white">
            <div>
                <h3 class="text-lg font-bold">Cloudrift</h3>
                <p class="mt-4 text-sm text-gray-400">© 2024 Cloudrift. Wszelkie prawa zastrzeżone.</p>
            </div>
            <div class="space-x-6">
                <a href="#" class="text-gray-400 hover:text-white">Polityka prywatności</a>
                <a href="#" class="text-gray-400 hover:text-white">Regulamin</a>
            </div>
        </div>
    </div>
</footer>
<script src="js/message.js"></script>
</body>
</html>
