<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloudrift | Przyszłość Twojej Chmury w Zasięgu Ręki</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="/dist/styles.css" rel="stylesheet"> <!-- Podłączenie pliku CSS Tailwind -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#333333">

    <!-- Podłączenie zewnętrznego pliku JavaScript -->
    <script src="/js/themeToggle.js" defer></script>
</head>
<body class="bg-gray-100 dark:bg-slate-700 ">
    <!-- Navbar -->
    <nav class="border-b border-b-gray-500">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between items-center h-16">
                <!-- Logo -->
                <div class="flex-shrink-0">
                    <a href="#" class="text-2xl font-bold text-blue-600">
                        <img src="/img/logo.png" alt="Logo" style="height: 6vh;">
                    </a>
                </div>
                
                <!-- Hamburger button for small screens -->
                <button class="md:hidden p-2 text-gray-500 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-200" type="button" aria-label="Toggle navigation" id="hamburgerButton">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
                <button id="theme-toggle" onclick="toggleTheme()" class="md:hidden p-2 text-gray-500 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-200">
                    <svg width="30px" height="30px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <g id="Lager_94" data-name="Lager 94" transform="translate(0)">
                          <path id="Path_70" data-name="Path 70" d="M12.516,4.509A12,12,0,0,0,22.3,19.881,12.317,12.317,0,0,0,24,20a11.984,11.984,0,0,0,3.49-.514,12.1,12.1,0,0,1-9.963,8.421A12.679,12.679,0,0,1,16,28,12,12,0,0,1,12.516,4.509M16,0a16.5,16.5,0,0,0-2.212.15A16,16,0,0,0,16,32a16.526,16.526,0,0,0,2.01-.123A16.04,16.04,0,0,0,31.85,18.212,16.516,16.516,0,0,0,32,15.944,1.957,1.957,0,0,0,30,14a2.046,2.046,0,0,0-1.23.413A7.942,7.942,0,0,1,24,16a8.35,8.35,0,0,1-1.15-.08,7.995,7.995,0,0,1-5.264-12.7A2.064,2.064,0,0,0,16.056,0Z" fill="#040505"/>
                        </g>
                      </svg>
                </button>

                <!-- Navigation menu -->
                <div class="hidden md:flex flex-col md:flex-row md:space-x-4 md:items-center" id="navbarNav">
                    <ul class="flex flex-col md:flex-row md:space-x-4">
                        <li class="nav-item mx-2">
                            <a class="block text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-white text-center py-2 px-4" href="/">Strona główna</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="block text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-white text-center py-2 px-4" href="/#contact">Kontakt</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="block text-gray-700 dark:text-gray-300 text-center dark:hover:text-white py-2 px-4" href="/#services">Usługi</a>
                        </li>
                        <li class="nav-item mx-2">
                            <button id="theme-toggle" onclick="toggleTheme()" class="ml-4 p-2 text-gray-700 hover:text-blue-600 dark:text-gray-300 dark:hover:text-white">
                                Przełącz motyw
                            </button>
                        </li>
                    </ul>
                </div>
 
                <!-- Mobile Menu -->
                <div class="absolute top-16 left-0 w-full bg-gray-100 shadow-lg md:hidden hidden" id="mobileMenu">
                    <ul class="flex flex-col space-y-2 p-4">
                        <li class="nav-item">
                            <a class="block text-gray-700 hover:text-blue-600 text-center py-2 px-4" href="/">Strona główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="block text-gray-700 hover:text-blue-600 text-center py-2 px-4" href="/#contact">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="block text-gray-700 hover:text-blue-600 text-center py-2 px-4" href="/#services">Usługi</a>
                        </li>
                        <li class="nav-item">
                            <button id="theme-toggle" onclick="toggleTheme()" class="block text-gray-700 hover:text-blue-600 mx-auto">
                                Przełącz motyw
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <script>
        document.getElementById('hamburgerButton').addEventListener('click', function() {
            const mobileMenu = document.getElementById('mobileMenu');
            mobileMenu.classList.toggle('hidden');
        });
    </script>
</body>
</html>
