<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="description" content="Cloudrift oferuje nowoczesne rozwiązania chmurowe, modernizację infrastruktury IT i usługi DevOps dla firm w Polsce.">
    
    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="192x192" href="/img/favicon/icon-192x192.png">

    <!-- Preload CSS -->
    <link rel="preload" href="/dist/styles.css" as="style">
    <link href="/dist/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Swiper CSS -->
    <!-- <link rel="preload" href="https://unpkg.com/swiper/swiper-bundle.min.css" as="style"> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"> -->
    
    <!-- Accessibility -->
    <meta name="theme-color" content="#333333">
    <meta name="msapplication-TileColor" content="#da532c">

    <!-- Security -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://unpkg.com;"> -->
</head>
<body class="bg-gray-100">
    <!-- Navbar -->
    <nav id="navbar" class="fixed top-0 left-0 w-full bg-gray-800 text-white shadow-lg transition-transform duration-300 z-50">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between items-center h-16">
                <!-- Logo -->
                <div class="h-full flex items-center">
                    <a href="/" class="text-2xl font-bold text-blue-600 h-full flex items-center">
                        <img src="/img/logo.png" class="h-full max-h-12" alt="Logo">
                    </a>
                </div>
                
                <!-- Hamburger button for small screens -->
                <button class="md:hidden p-2 text-gray-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-gray-200" type="button" aria-label="Toggle navigation" id="hamburgerButton">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
    
                <!-- Navigation menu -->
                <div class="hidden md:flex flex-col md:flex-row md:space-x-4 md:items-center">
                    <ul class="flex flex-col md:flex-row md:space-x-4">
                        <li><a class="block text-white hover:text-blue-400 text-center py-2 px-4" href="/">Strona główna</a></li>
                        <li><a class="block text-white hover:text-blue-400 text-center py-2 px-4" href="/#contact">Kontakt</a></li>
                        <li><a class="block text-white hover:text-blue-400 text-center py-2 px-4" href="/#services">Usługi</a></li>
                    </ul>
                </div>
            </div>
    
            <!-- Mobile Menu -->
            <div id="mobileMenu" class="absolute top-16 left-0 w-full bg-gray-800 text-white shadow-lg md:hidden max-h-0 overflow-hidden opacity-0 transition-all duration-300 ease-in-out">
                <ul class="flex flex-col space-y-2 p-4">
                    <li><a class="block text-white hover:text-blue-400 text-center py-2 px-4" href="/">Strona główna</a></li>
                    <li><a class="block text-white hover:text-blue-400 text-center py-2 px-4" href="/#contact">Kontakt</a></li>
                    <li><a class="block text-white hover:text-blue-400 text-center py-2 px-4" href="/#services">Usługi</a></li>
                </ul>
            </div>
        </div>
    </nav>
    

    <!-- Main content with padding-top to start after navbar -->


    <script>
document.addEventListener("DOMContentLoaded", function() {
    const hamburgerButton = document.getElementById("hamburgerButton");
    const mobileMenu = document.getElementById("mobileMenu");
    const navbar = document.getElementById("navbar");
    let lastScrollY = window.scrollY;

    // Funkcja otwierająca/zamykająca menu
    hamburgerButton.addEventListener("click", function(event) {
        if (mobileMenu.classList.contains("max-h-0")) {
            mobileMenu.classList.remove("max-h-0", "opacity-0");
            mobileMenu.classList.add("max-h-[300px]", "opacity-100");
        } else {
            mobileMenu.classList.add("max-h-0", "opacity-0");
            mobileMenu.classList.remove("max-h-[300px]", "opacity-100");
        }
        event.stopPropagation(); // Zatrzymanie propagacji
    });

    // Zamknij menu, jeśli kliknięto poza nim
    document.addEventListener("click", function(event) {
        const isClickInsideMenu = mobileMenu.contains(event.target) || hamburgerButton.contains(event.target);
        if (!isClickInsideMenu) {
            mobileMenu.classList.add("max-h-0", "opacity-0");
            mobileMenu.classList.remove("max-h-[300px]", "opacity-100");
        }
    });

    // Funkcja ukrywająca/pokazująca navbar przy przewijaniu
    window.addEventListener("scroll", function() {
        const currentScrollY = window.scrollY;

        // Schowaj navbar, jeśli użytkownik przewija w dół, i pokaż, gdy przewija w górę
        if (currentScrollY > lastScrollY && currentScrollY > 50) {
            navbar.classList.add("-translate-y-full");
        } else {
            navbar.classList.remove("-translate-y-full");
        }

        // Zamknij menu mobilne przy przewijaniu w dół
        if (currentScrollY > lastScrollY && !mobileMenu.classList.contains("max-h-0")) {
            mobileMenu.classList.add("max-h-0", "opacity-0");
            mobileMenu.classList.remove("max-h-[300px]", "opacity-100");
        }

        lastScrollY = currentScrollY;
    });
});


    </script>
</body>
</html>
