<!-- Hero Section -->
<div class="bg-gradient-to-br from-purple-500 to-cyan-500 pt-8">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 text-center lg:text-left flex items-center justify-between">
        <div>
            <h1 class="text-4xl font-bold text-white sm:text-5xl">
                Witaj w Cloudrift
            </h1>
            <p class="mt-4 text-lg text-blue-200">
                Oferujemy najlepsze rozwiązania dla Twojej firmy.
            </p>
            <!-- <div class="mt-6">
                <a href="#" class="inline-flex items-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-blue-600 bg-white hover:bg-gray-100">
                    Dowiedz się więcej
                </a>
            </div> -->
        </div>
        <!-- <div>
            <img src="/img/logo.png" alt="Logo" class="h-12 w-auto">
        </div> -->
    </div>
</div>


    <!-- Features Section -->
    <section class="py-12 bg-gray-100" id="services">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="lg:text-center">
                <h2 class="text-base text-blue-600 font-semibold tracking-wide uppercase">Nasze Usługi</h2>
                <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                    Co możemy Ci zaoferować
                </p>

            </div>

            <div class="mt-10">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

                    <div class="pt-6">
                        <a href="/services/cloud" class="flow-root bg-white hover:bg-blue-50 rounded-lg px-6 pb-8 shadow-lg">
                            <div class="-mt-6">
                                <div class="inline-flex items-center justify-center p-3 bg-blue-500 rounded-md shadow-lg">    
                                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 13.6493C3 16.6044 5.41766 19 8.4 19L16.5 19C18.9853 19 21 16.9839 21 14.4969C21 12.6503 19.8893 10.9449 18.3 10.25C18.1317 7.32251 15.684 5 12.6893 5C10.3514 5 8.34694 6.48637 7.5 8.5C4.8 8.9375 3 11.2001 3 13.6493Z" />
                                      </svg>
                                </div>
                                <h3 class="mt-8 text-lg font-medium text-gray-900">Chmura publiczna i prywatna</h3>
                                <p class="mt-5 text-base text-gray-500">
                                    Zapewniamy wsparcie w wdrażaniu oraz utrzymaniu rozwiązań kontenerowych oraz wirtualizacji, które zwiększają efektywność wykorzystania zasobów.
                                </p>
                            </div>
                        </a>
                    </div>



                    <div class="pt-6">
                        <a href="/services/monitoring" class="flow-root bg-white hover:bg-blue-50 rounded-lg px-6 pb-8 shadow-lg">
                            <div class="-mt-6">
                                <div class="inline-flex items-center justify-center p-3 bg-blue-500 rounded-md shadow-lg">
                                    <!-- Icon (replace with an appropriate one) -->
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                      </svg>
                                      
                                      
                                </div>
                                <h3 class="mt-8 text-lg font-medium text-gray-900">Monitoring infrastruktury sieciowej</h3>
                                <p class="mt-5 text-base text-gray-500">
                                    Oferujemy nowoczesne rozwiązania monitorujące, które zapewniają pełny wgląd w działanie Twojej infrastruktury IT w czasie rzeczywistym.
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="pt-6">
                        <a href="/services/fiber" class="flow-root bg-white hover:bg-blue-50 rounded-lg px-6 pb-8 shadow-lg">
                            <div class="-mt-6">
                                <div class="inline-flex items-center justify-center p-3 bg-blue-500 rounded-md shadow-lg">
                                    <!-- Icon (replace with an appropriate one) -->
                                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5h18M3 19h18M3 5v14M21 5v14M3 10h18M3 15h18" />
                                      </svg>
                                      
                                </div>
                                <h3 class="mt-8 text-lg font-medium text-gray-900">Sieci światłowodowe</h3>
                                <p class="mt-5 text-base text-gray-500">
                                    Nasz oferta obejmuje również budowę i utrzymanie sieci światłowodowych oraz montaże i serwisy indywidualnych klientów Twojej sieci. 

                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="pt-6">
                        <a href="/services/network" class="flow-root bg-white hover:bg-blue-50 rounded-lg px-6 pb-8 shadow-lg ">
                            <div class="-mt-6">
                                <div class="inline-flex items-center justify-center p-3 bg-blue-500 rounded-md shadow-lg">
                                    <p class="text-white text-base">LAN</p>
                                </div>
                                <h3 class="mt-8 text-lg font-medium text-gray-900">Sieci komputerowe LAN</h3>
                                <p class="mt-5 text-base text-gray-500">
                                    Świadczymy wsparcie w projektowaniu, budowie, konfiguracji oraz zarządzaniu sieciami komputerowymi, dostosowanymi do indywidualnych potrzeb Twojej firmy lub domu.
                                </p>
                            </div>  
                        </a>
                    </div>



                    
                    <div class="pt-6">
                        <div class="flow-root bg-white hover:bg-blue-50 rounded-lg px-6 pb-8 shadow-lg ">
                            <div class="-mt-6">
                                <div class="inline-flex items-center justify-center p-3 bg-blue-500 rounded-md shadow-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z" />
                                      </svg>
                                      
                                </div>
                                <h3 class="mt-8 text-lg font-medium text-gray-900">Monitoring wizyjny</h3>
                                <p class="mt-5 text-base text-gray-500">
                                    Oferujemy nowoczesne systemy monitoringu wizyjnego CCTV, które zapewniają kompleksowe bezpieczeństwo Twojej firmy, domu lub przestrzeni publicznej.
                                </p>
                            </div>  
                        </div>
                    </div>

                    <div class="pt-6">
                        <div class="flow-root bg-white hover:bg-blue-50 rounded-lg px-6 pb-8 shadow-lg">
                            <div class="-mt-6">
                                <div class="inline-flex items-center justify-center p-3 bg-blue-500 rounded-md shadow-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                                      </svg>
                                      
                                </div>
                                <h3 class="mt-8 text-lg font-medium text-gray-900">Wsparcie IT zdalne oraz lokalne</h3>
                                <p class="mt-5 text-base text-gray-500">
                                    Dzięki zdalnemu wsparciu możemy natychmiastowo reagować na problemy, natomiast wsparcie lokalne pozwala nam rozwiązywać złożone problemy.
                                </p>
                            </div>  
                        </div>
                    </div>

                    

                </div>
            </div>
        </div>
    </section>