<section class="bg-gray-100 pt-16 my-12">
    <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
        <span class="text-sm"><i>Obowiązuje od 14.11.2024</i></span>
      <h1 class="text-3xl font-bold text-gray-800 mb-6">Regulamin strony internetowej</h1>
  
      <!-- Postanowienia ogólne -->
      <div class="mb-6">
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">1. Postanowienia ogólne</h2>
        <p class="text-gray-600 mb-2">
          1. Niniejszy regulamin określa zasady korzystania ze strony internetowej dostępnej pod adresem
          <span class="font-semibold">www.cloudrift.pl</span>.
        </p>
        <p class="text-gray-600 mb-2">
          2. Właścicielem strony jest <span class="font-semibold">Dawid Wisła</span>
          <!-- , z siedzibą w
          <span class="font-semibold">[adres siedziby]</span>, NIP: <span class="font-semibold">[numer NIP]</span>, REGON:
          <span class="font-semibold">[numer REGON]</span>  -->
          (dalej „Administrator”).
        </p>
        <p class="text-gray-600"> 
          3. Korzystanie ze strony oznacza akceptację postanowień niniejszego regulaminu. Osoby korzystające z formularza
          kontaktowego dostępnego na stronie zobowiązują się do przestrzegania regulaminu w całości.
        </p>
      </div>
  
      <!-- Usługi świadczone przez stronę -->
      <div class="mb-6">
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">2. Usługi świadczone przez stronę</h2>
        <p class="text-gray-600 mb-2">
          1. Strona internetowa <span class="font-semibold">cloudrift.pl</span> pełni funkcję informacyjną o działalności
          Administratora.
        </p>
        <p class="text-gray-600">
          2. Strona umożliwia również przesyłanie formularza kontaktowego w celu złożenia zapytania o ofertę lub uzyskania
          informacji dotyczących oferowanych usług.
        </p>
      </div>
  
      <!-- Zasady korzystania ze strony -->
      <div class="mb-6">
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">3. Zasady korzystania ze strony</h2>
        <p class="text-gray-600 mb-2">
          1. Użytkownicy zobowiązani są do korzystania ze strony w sposób zgodny z przepisami prawa oraz postanowieniami
          niniejszego regulaminu.
        </p>
        <p class="text-gray-600">
          2. Zabronione jest podejmowanie działań, które mogą zakłócić działanie strony, w tym podejmowanie prób
          uzyskania dostępu do danych, do których użytkownik nie jest uprawniony.
        </p>
      </div>
  
      <!-- Formularz kontaktowy -->
      <div class="mb-6">
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">4. Formularz kontaktowy</h2>
        <p class="text-gray-600 mb-2">
          1. Wysłanie zapytania poprzez formularz kontaktowy wymaga podania danych osobowych, takich jak imię, nazwisko,
          adres e-mail, numer telefonu oraz treść zapytania.
        </p>
        <p class="text-gray-600 mb-2">
          2. Przesyłając formularz, użytkownik wyraża zgodę na przetwarzanie podanych danych osobowych przez
          Administratora w celu udzielenia odpowiedzi na zapytanie.
        </p>
        <p class="text-gray-600">
          3. Użytkownik ponosi pełną odpowiedzialność za podanie prawdziwych danych.
        </p>
      </div>
  
      <!-- Przetwarzanie danych osobowych -->
      <div class="mb-6">
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">5. Przetwarzanie danych osobowych</h2>
        <p class="text-gray-600 mb-2">
          1. Administratorem danych osobowych przetwarzanych w związku z korzystaniem ze strony jest
          <span class="font-semibold">Dawid Wisła</span>.
        </p>
        <p class="text-gray-600 mb-2">
          2. Dane osobowe są przetwarzane zgodnie z RODO oraz innymi przepisami obowiązującymi na terenie Polski w
          zakresie ochrony danych osobowych.
        </p>
        <p class="text-gray-600 mb-2">
          3. Dane użytkowników będą przetwarzane wyłącznie w celu odpowiedzi na zapytania złożone za pośrednictwem
          formularza kontaktowego oraz w celu komunikacji związanej z oferowanymi usługami.
        </p>
        <p class="text-gray-600">
          4. Użytkownik ma prawo dostępu do swoich danych, ich sprostowania, usunięcia, ograniczenia przetwarzania, prawo
          do wniesienia sprzeciwu oraz prawo do przenoszenia danych. W celu realizacji tych praw użytkownik powinien
          skontaktować się z Administratorem poprzez adres e-mail <span class="font-semibold">info@cloudrift.pl</span>.
        </p>
      </div>
  
      <!-- Prawa autorskie -->
      <div class="mb-6">
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">6. Prawa autorskie</h2>
        <p class="text-gray-600 mb-2">
          1. Wszelkie treści zamieszczone na stronie, w tym teksty, grafiki, logo, zdjęcia oraz elementy graficzne, są
          chronione prawem autorskim i stanowią własność Administratora.
        </p>
        <p class="text-gray-600">
          2. Kopiowanie, rozpowszechnianie, przetwarzanie lub inne wykorzystywanie zawartości strony bez zgody
          Administratora jest zabronione.
        </p>
      </div>
  
      <!-- Wyłączenie odpowiedzialności -->
      <div class="mb-6">
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">7. Wyłączenie odpowiedzialności</h2>
        <p class="text-gray-600 mb-2">
          1. Administrator nie ponosi odpowiedzialności za przerwy w funkcjonowaniu strony spowodowane działaniem siły
          wyższej, awariami technicznymi lub nieuprawnionymi działaniami osób trzecich.
        </p>
        <p class="text-gray-600">
          2. Administrator nie ponosi odpowiedzialności za treść przesyłaną przez użytkowników za pośrednictwem formularza
          kontaktowego.
        </p>
      </div>
  
      <!-- Postanowienia końcowe -->
      <div>
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">8. Postanowienia końcowe</h2>
        <p class="text-gray-600 mb-2">
          1. Administrator zastrzega sobie prawo do zmiany niniejszego regulaminu. Wszelkie zmiany będą publikowane na
          stronie i wchodzą w życie z dniem ich opublikowania.
        </p>
        <p class="text-gray-600">
          2. W sprawach nieuregulowanych w niniejszym regulaminie zastosowanie mają odpowiednie przepisy prawa polskiego.
        </p>
      </div>
    </div>
  </section>
  