<!-- Video Surveillance Monitoring Solutions Section -->
<section class="py-12" id="monitoring-details">
    <div class="max-w-7xl mx-auto px-6 sm:px-8 lg:px-12">
        <div class="text-center mb-10">
            <h3 class="text-3xl font-extrabold text-gray-800 sm:text-4xl py-6">
                Monitoring wizyjny CCTV | Kamery
            </h3>
            <p class="mt-2 text-lg text-gray-600 max-w-2xl mx-auto">
                Monitoring wizyjny to skuteczne narzędzie służące zapewnieniu bezpieczeństwa oraz monitorowaniu zdarzeń w czasie rzeczywistym. Dzięki nowoczesnym technologiom, jak analiza obrazu oraz detekcja ruchu, monitoring wizyjny pomaga w szybkim reagowaniu na zagrożenia i minimalizuje ryzyko naruszenia bezpieczeństwa.
            </p>
        </div>

        <div class="mt-12 flex flex-col lg:flex-row items-center lg:space-x-12 space-y-8 lg:space-y-0">
            <div class="lg:w-1/2">
                <h4 class="text-xl font-semibold text-blue-600">Korzyści z monitoringu wizyjnego</h4>
                <ul class="mt-6 pl-6 space-y-4 border-l-4 border-gray-400">
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Wczesna detekcja zagrożeń</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Stały monitoring umożliwia szybką reakcję na podejrzane zdarzenia i zachowania.
                            </p>
                        </div>
                    </li>

                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Poprawa bezpieczeństwa</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Zaawansowane systemy analizy obrazu zwiększają skuteczność ochrony miejsc.
                            </p>
                        </div>
                    </li>
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Rejestrowanie dowodów</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Monitoring wizyjny dostarcza zapisów wideo, które mogą być używane jako dowody.
                            </p>
                        </div>
                    </li>
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Monitoring zdalny</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Możliwość zdalnego monitorowania w czasie rzeczywistym z dowolnego miejsca.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="lg:w-1/2">
                <video autoplay loop muted playsinline class="rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300 max-w-md">
                    <source src="/img/services/cctv/video-1.mp4" type="video/mp4">
                    Twoja przeglądarka nie obsługuje odtwarzania wideo.
                </video>
            </div>

        </div>

        <div class="mt-12 flex flex-col lg:flex-row items-center lg:space-x-12 space-y-8 lg:space-y-0">
            <div class="lg:w-1/2">
                <img src="/img/services/cctv/1.jpg" alt="Technologie monitoringu wizyjnego" class="rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
            </div>

            <div class="lg:w-1/2">
                <h4 class="text-xl font-semibold text-blue-600">Zaawansowane technologie monitoringu</h4>
                <p class="mt-6 text-gray-700 border-r-4 border-gray-400 pr-6">
                    Wykorzystujemy nowoczesne rozwiązania, takie jak kamery IP, detekcję ruchu i analitykę obrazu, które umożliwiają identyfikację osób, pojazdów, oraz wykrywanie nieprawidłowych zachowań. Dzięki integracji z aplikacjami mobilnymi możesz mieć pełną kontrolę nad systemem monitoringu wizyjnego, gdziekolwiek jesteś.
                </p>
            </div>
        </div>

        <!-- Additional Section: Customizable Surveillance Solutions -->
        <div class="mt-12 flex flex-col lg:flex-row items-center lg:space-x-12 space-y-8 lg:space-y-0">
            <div class="lg:w-1/2">
                <h4 class="text-xl font-semibold text-blue-600">Indywidualnie dopasowane rozwiązania</h4>
                <p class="mt-6 text-gray-700">
                    Rozumiemy, że potrzeby każdego miejsca są inne. Nasze rozwiązania umożliwiają dostosowanie systemu monitoringu wizyjnego do specyficznych wymagań, w tym konfigurację niestandardowych alertów, harmonogramów rejestrowania oraz integrację z istniejącymi systemami bezpieczeństwa.
                </p>

                <ul class="mt-6 pl-6 space-y-4 border-l-4 border-gray-400">
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Skalowalne rozwiązania</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Nasze systemy mogą być rozbudowywane wraz z rosnącymi potrzebami monitoringu.
                            </p>
                        </div>
                    </li>

                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Alerty dopasowane do potrzeb</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Konfigurujemy alerty na podstawie indywidualnych potrzeb i priorytetów.
                            </p>
                        </div>
                    </li>
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Integracja z istniejącymi systemami</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Nasz monitoring może być połączony z innymi narzędziami zarządzania i zabezpieczeń.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="lg:w-1/2">
                <img src="/img/services/cctv/2.jpg" alt="Monitoring Wizyjny" class="rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300 max-w-sm">
            </div>
        </div>

        <div class="mt-12 text-center">
            <a href="/#contact" class="inline-flex items-center px-8 py-3 border border-transparent text-base font-semibold rounded-full text-white bg-blue-600 hover:bg-blue-700 shadow-md hover:shadow-lg transition-shadow duration-200">
                Skontaktuj się z nami, aby dowiedzieć się więcej
            </a>
        </div>
        <!-- Service Area Information -->
        <div class="mt-8 text-center text-gray-600 text-sm">
            <p>
                Nasze usługi świadczymy m.in. na terenie: 
                <br>Śląska Cieszyńskiego, obejmując miasta i miejscowości takie jak Cieszyn, Ustroń, Skoczów, Wisła, Istebna, Strumień, Brenna, Hażlach, Goleszów, Dębowiec, Zebrzydowice, oraz Pogwizdów.
                <br>Śląska, obejmując takie miasta jak Bielsko-Biała, Bytom, Chorzów, Częstochowa, Dąbrowa Górnicza, Gliwice, Jastrzębie-Zdrój, Jaworzno, Katowice, Mysłowice, Piekary Śląskie, Ruda Śląska, Rybnik, Siemianowice Śląskie, Sosnowiec, Świętochłowice, Tychy, Zabrze, Żory.
            </p>
            </div>

    </div>
</section>
