<!-- Infrastructure Monitoring Solutions Section -->
<section class="bg-gradient-to-b from-gray-50 to-white py-24" id="monitoring-details">
    <div class="max-w-7xl mx-auto px-6 sm:px-8 lg:px-12">
        <div class="text-center mb-10">
            <h3 class="text-3xl font-extrabold text-gray-800 sm:text-4xl py-6">
                Monitoring infrastruktury
            </h3>
            <p class="mt-2 text-lg text-gray-600 max-w-2xl mx-auto">
                Monitoring infrastruktury IT jest kluczowy dla zapewnienia płynnego działania systemów, minimalizacji przestojów oraz utrzymania wysokiej wydajności. Dzięki bieżącej analizie zasobów i natychmiastowemu wykrywaniu problemów, monitoring umożliwia szybszą reakcję na incydenty, co przekłada się na stabilność i bezpieczeństwo całego środowiska IT.
            </p>
        </div>

        <div class="mt-12 flex flex-col lg:flex-row items-center lg:space-x-12 space-y-8 lg:space-y-0">
            <div class="lg:w-1/2">
                <h4 class="text-xl font-semibold text-blue-600">Korzyści z monitorowania infrastruktury</h4>
                <ul class="mt-6 pl-6 space-y-4 border-l-4 border-gray-400">
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Wczesne wykrywanie problemów</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Stałe monitorowanie pozwala na szybkie rozpoznanie i reakcję na usterki.
                            </p>
                        </div>
                    </li>

                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Optymalizacja wydajności</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Monitorowanie wydajności systemów pozwala na bieżącą analizę i optymalizację zasobów.
                            </p>
                        </div>
                    </li>
                        <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Zwiększone bezpieczeństwo</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Narzędzia monitorujące umożliwiają wykrywanie potencjalnych zagrożeń i zabezpieczenie infrastruktury.
                            </p>
                        </div>
                    </li>
                        <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Szczegółowe raporty</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Generowanie raportów umożliwia analizę trendów i planowanie rozwoju infrastruktury.
                            </p>
                        </div>
                    </li>
                </ul>

            </div>
            
            <div class="lg:w-1/2">
                <img src="/img/services/monitoring/1.jpg" alt="Monitoring Infrastruktury" class="rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300 max-w-sm">
            </div>
        </div>

        <div class="mt-12 flex flex-col lg:flex-row items-center lg:space-x-12 space-y-8 lg:space-y-0">
            <div class="lg:w-1/2">
                <img src="/img/services/monitoring/2.jpg" alt="Narzędzia do monitorowania" class="rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
            </div>

            <div class="lg:w-1/2 ">
                <h4 class="text-xl font-semibold text-blue-600 ">Narzędzia do monitorowania infrastruktury</h4>
                <p class="mt-6 text-gray-700 border-r-4 border-gray-400 pr-6">
                    Używamy zaawansowanych narzędzi, takich jak m.in. Prometheus, Grafana, aby zapewnić pełną widoczność działania systemów. Prometheus umożliwia szczegółowe zbieranie metryk, a Grafana dostarcza interaktywne dashboardy do analizy w czasie rzeczywistym, dostarczając alarmów i raportów dla szybkiej reakcji na incydenty.
                </p>
            </div>
        </div>

        <!-- Additional Section: Customizable Monitoring Solutions -->
        <div class="mt-12 flex flex-col lg:flex-row items-center lg:space-x-12 space-y-8 lg:space-y-0">
            <div class="lg:w-1/2 ">
                <h4 class="text-xl font-semibold text-blue-600">Indywidualnie dopasowane rozwiązania</h4>
                <div class="">
                <p class="mt-6 text-gray-700">
                    Rozumiemy, że każda infrastruktura jest inna, dlatego oferujemy elastyczne rozwiązania dopasowane do specyficznych potrzeb. Możemy dostosować zakres monitorowania, tworzyć niestandardowe alerty i raporty, które najlepiej odzwierciedlają cele i priorytety Twojej organizacji. Dzięki integracji z istniejącymi narzędziami oraz możliwości rozbudowy o dodatkowe moduły, nasze rozwiązania pozwalają na pełną kontrolę nad infrastrukturą.
                </p>

                <ul class="mt-6 pl-6 space-y-4 border-l-4 border-gray-400">
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Skalowalne systemy</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Monitoring może być dostosowany do wzrostu zasobów wraz z rozwojem infrastruktury.
                            </p>
                        </div>
                    </li>

                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Alerty dopasowane do potrzeb</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Definiujemy alerty w oparciu o unikalne wymagania i priorytety operacyjne.
                            </p>
                        </div>
                    </li>
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Integracja z istniejącymi systemami</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Nasze rozwiązania mogą być połączone z bieżącymi narzędziami zarządzania.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
            </div>

            <div class="lg:w-1/2">
                <img src="/img/services/monitoring/3.jpg" alt="Rozwiązania dopasowane do potrzeb" class="rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
            </div>
        </div>

        <div class="mt-12 text-center">
            <a href="/#contact" class="inline-flex items-center px-8 py-3 border border-transparent text-base font-semibold rounded-full text-white bg-blue-600 hover:bg-blue-700 shadow-md hover:shadow-lg transition-shadow duration-200">
                Skontaktuj się z nami, aby dowiedzieć się więcej
            </a>
        </div>
    </div>
</section>
