<!-- Computer Networks Solutions Section -->
<section class="bg-gradient-to-b from-gray-50 to-white py-24" id="networking-details">
    <div class="max-w-7xl mx-auto px-6 sm:px-8 lg:px-12">
        <div class="text-center mb-10">
            <h3 class="text-3xl font-extrabold text-gray-800 sm:text-4xl py-6">
                Sieci komputerowe LAN
            </h3>
            <p class="mt-2 text-lg text-gray-600 max-w-2xl mx-auto">
                Świadczymy wsparcie w projektowaniu, budowie, konfiguracji oraz zarządzaniu sieciami komputerowymi, dostosowanymi do indywidualnych potrzeb Twojej firmy.
            </p>
        </div>

        <!-- Section 1: Projektowanie i budowa sieci -->
        <div class="mt-12 flex flex-col lg:flex-row items-center lg:space-x-12 space-y-8 lg:space-y-0">
            <div class="lg:w-1/2">
                <h4 class="text-xl font-semibold text-blue-600">Projektowanie i Budowa Sieci</h4>
                <p class="mt-6 text-gray-700">
                    Zapewniamy kompleksowe projektowanie sieci komputerowych od podstaw, uwzględniając potrzeby biznesowe, bezpieczeństwo oraz skalowalność. Nasze projekty bazują na najlepszych praktykach oraz nowoczesnych technologiach, takich jak sieci przewodowe i bezprzewodowe, aby zapewnić niezawodne i wydajne połączenia w Twojej firmie.
                </p>
                <ul class="mt-6 pl-6 space-y-4 border-l-4 border-gray-400">
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Analiza potrzeb i projektowanie:</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Tworzymy projekt dostosowany do indywidualnych wymagań.
                            </p>
                        </div>
                    </li>
                
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Budowa infrastruktury:</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Montaż, konfiguracja oraz optymalizacja infrastruktury sieciowej.
                            </p>
                        </div>
                    </li>

                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Bezpieczeństwo:</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Wdrażamy technologie zapobiegające nieautoryzowanemu dostępowi do sieci.
                            </p>
                        </div>
                    </li>
                </ul>

            </div>

            <div class="lg:w-1/2">
                <img src="/img/services/networks/1.jpg" alt="Projektowanie i budowa sieci" class="rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
            </div>
        </div>

        <!-- Section 2: Konfiguracja i optymalizacja sieci -->
        <div class="mt-12 flex flex-col lg:flex-row items-center lg:space-x-12 space-y-8 lg:space-y-0">
            <div class="lg:w-1/2">
                <img src="/img/services/networks/2.jpg" alt="Konfiguracja i optymalizacja sieci" class="rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
            </div>

            <div class="lg:w-1/2">
                <h4 class="text-xl font-semibold text-blue-600">Konfiguracja i Optymalizacja Sieci</h4>
                <p class="mt-6 text-gray-700">
                    Konfigurujemy i optymalizujemy sieci, aby zapewnić płynną komunikację, minimalizację opóźnień i wysoką wydajność. Zajmujemy się konfiguracją urządzeń sieciowych, takich jak routery, przełączniki oraz punkty dostępu. Dbamy także o aktualizację oprogramowania oraz zabezpieczenia, aby sieć spełniała najwyższe standardy.
                </p>

                <ul class="mt-6 pl-6 space-y-4 border-r-4 border-gray-400">
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Konfiguracja urządzeń:</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Optymalizacja sprzętu sieciowego w celu zwiększenia wydajności.
                            </p>
                        </div>
                    </li>
                
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Aktualizacje i bezpieczeństwo:</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Regularne aktualizacje i zabezpieczenia sieci.
                            </p>
                        </div>
                    </li>
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Analiza i optymalizacja:</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Monitorujemy i optymalizujemy wydajność sieci w czasie rzeczywistym.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Section 3: Zarządzanie i wsparcie techniczne -->
        <div class="mt-12 flex flex-col lg:flex-row items-center lg:space-x-12 space-y-8 lg:space-y-0">
            <div class="lg:w-1/2">
                <h4 class="text-xl font-semibold text-blue-600">Zarządzanie i Wsparcie Techniczne</h4>
                <p class="mt-6 text-gray-700">
                    Nasze usługi obejmują także kompleksowe zarządzanie oraz wsparcie techniczne, aby zapewnić ciągłość działania Twojej sieci. W ramach wsparcia oferujemy monitoring stanu sieci, szybką reakcję na awarie oraz pełne zarządzanie urządzeniami i zabezpieczeniami.
                </p>

                <ul class="mt-6 pl-6 space-y-4 border-l-4 border-gray-400">
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Monitoring i diagnostyka:</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Stałe monitorowanie sieci oraz szybkie rozwiązywanie problemów.
                            </p>
                        </div>
                    </li>
                
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Reakcja na awarie:</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Szybka interwencja w przypadku wykrycia problemów w sieci.
                            </p>
                        </div>
                    </li>
                </ul>
                
            </div>

            <div class="lg:w-1/2">
                <img src="/img/services/networks/3.jpg" alt="Zarządzanie i wsparcie techniczne" class="rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
            </div>
        </div>

        <!-- Service Area Information -->
        <div class="mt-8 text-center text-gray-600 text-sm">
        <p>
            Nasze usługi świadczymy m.in. na terenie: 
            <br>Śląska Cieszyńskiego, obejmując miasta i miejscowości takie jak Cieszyn, Ustroń, Skoczów, Wisła, Istebna, Strumień, Brenna, Hażlach, Goleszów, Dębowiec, Zebrzydowice, oraz Pogwizdów.
            <br>Śląska, obejmując takie miasta jak Bielsko-Biała, Bytom, Chorzów, Częstochowa, Dąbrowa Górnicza, Gliwice, Jastrzębie-Zdrój, Jaworzno, Katowice, Mysłowice, Piekary Śląskie, Ruda Śląska, Rybnik, Siemianowice Śląskie, Sosnowiec, Świętochłowice, Tychy, Zabrze, Żory.
        </p>
        </div>

        <div class="mt-12 text-center">
            <a href="/#contact" class="inline-flex items-center px-8 py-3 border border-transparent text-base font-semibold rounded-full text-white bg-blue-600 hover:bg-blue-700 shadow-md hover:shadow-lg transition-shadow duration-200">
                Skontaktuj się z nami, aby dowiedzieć się więcej
            </a>
        </div>


    </div>
</section>
