<!-- VM Details Section -->
<section class=" py-12" id="vm-details">
    <div class="max-w-7xl mx-auto px-6 sm:px-8 lg:px-12">
        <div class="text-center mb-10">
            <h3 class="text-3xl font-extrabold text-gray-800 sm:text-4xl py-6">
                Rozwiązania Wirtualizacyjne
            </h3>
            <p class="mt-2 text-lg text-gray-600 max-w-2xl mx-auto">
                Oferujemy kompleksowe wsparcie przy wdrażaniu oraz zarządzaniu infrastrukturą wirtualizacyjną. Nasze rozwiązania pozwalają na optymalne wykorzystanie zasobów, elastyczne skalowanie oraz uproszczenie zarządzania.
            </p>
        </div>

        <div class="mt-12 flex flex-col lg:flex-row items-center lg:space-x-12 space-y-8 lg:space-y-0">
            <div class="lg:w-1/2">
                <h4 class="text-xl font-semibold text-blue-600">Korzyści z wirtualizacji</h4>

                <ul class="mt-6 pl-6 space-y-4 border-l-4 border-gray-400">
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Oszczędność zasobów</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Konsolidacja serwerów pozwala obniżyć koszty.
                            </p>
                        </div>
                    </li>
                
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Łatwe zarządzanie</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Szybsze wdrażanie i uproszczone zarządzanie usługami.
                            </p>
                        </div>
                    </li>
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Skalowalność</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Możliwość rozbudowy infrastruktury bez przestojów.
                            </p>
                        </div>
                    </li>
                    <li class="relative flex items-start">
                        <div class="text-gray-700">
                            <span class="font-semibold text-lg italic">Redukcja kosztów</span>
                            <p class="mt-1 ml-6 text-gray-600">
                                Mniejsze zużycie energii oraz koszty operacyjne.
                            </p>
                        </div>
                    </li>
                </ul>

            </div>
            
            <div class="lg:w-1/2">
                <img src="/img/services/vm/vm-graphic.jpg" alt="Wirtualizacja" class="rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
            </div>
        </div>

        <div class="mt-12 flex flex-col lg:flex-row items-center lg:space-x-12 space-y-8 lg:space-y-0">
            <div class="lg:w-1/2">
                <img src="/img/services/vm/howitworks.jpeg" alt="Wirtualizacja" class="rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
            </div>

            <div class="lg:w-1/2">
                <h4 class="text-xl font-semibold text-blue-600">Jak działa wirtualizacja?</h4>
                <p class="mt-6 text-gray-700 pb-6 pl-4 border-r-4 border-gray-400">
                    Wirtualizacja pozwala na podział zasobów fizycznego serwera (procesorów, pamięci, dysków) między wiele maszyn wirtualnych (VM), które działają jak niezależne komputery. Kluczowym elementem jest hypervisor – oprogramowanie, które zarządza przydziałem zasobów i zapewnia izolację między maszynami wirtualnymi. Dzięki temu możliwe jest uruchamianie wielu systemów operacyjnych na jednym serwerze, co zwiększa efektywność, elastyczność i oszczędność zasobów.
                </p>
            </div>
            

        </div>

        <!-- <div class="mt-12 text-center">
            <a href="/#contact" class="inline-flex items-center px-8 py-3 border border-transparent text-base font-semibold rounded-full text-white bg-blue-600 hover:bg-blue-700 shadow-md hover:shadow-lg transition-shadow duration-200">
                Skontaktuj się z nami, aby dowiedzieć się więcej
            </a>
        </div> -->
    </div>
<!-- </section> -->
